<script setup>
import { computed } from 'vue'
import { useMainStore } from '@/stores/main'

const mainStore = useMainStore()

mainStore.fullScreenToggle(false)

mainStore.setUser({
  name: 'John Doe',
  email: 'john@example.com',
  avatar: 'https://avatars.dicebear.com/api/avataaars/example.svg?options[top][]=shortHair&options[accessoriesChance]=93'
})

const isAsideLgActive = computed(() => mainStore.isAsideLgActive)

const overlayClick = () => {
  mainStore.asideLgToggle(false)
}
</script>

<template>
  <slot />
</template>
